<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera aplicacion con HTML + CSS + JS</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <div id="app">
        <!-- Contenedor principal que ocupa todo el ancho disponible -->
<div class="container-fluid">
    <div class="row">
        <!-- Columna izquierda: Formulario de registro de alumnos -->
        <div class="col-md-5">
            <form id="frmAlumno" name="frmAlumno" @submit.prevent="guardarAlumno">
                <div class="card border-dark mb-3">
                    <div class="card-header bg-dark text-white">Registro de Alumnos</div>
                    <div class="card-body">
                        <!-- Campo Código -->
                        <div class="row p-1">
                            <div class="col-3 col-md-2">CODIGO</div>
                            <div class="col-9 col-md-4">
                                <input required v-model="codigo" type="text" class="form-control">
                            </div>
                        </div>
                        <!-- Campo Nombre -->
                        <div class="row p-1">
                            <div class="col-3 col-md-2">NOMBRE</div>
                            <div class="col-9 col-md-6">
                                <input required pattern="[A-Za-zñÑáéíóú ]{3,150}" v-model="nombre" type="text" class="form-control">
                            </div>
                        </div>
                        <!-- Campo Dirección -->
                        <div class="row p-1">
                            <div class="col-3 col-md-2">DIRECCION</div>
                            <div class="col-9 col-md-8">
                                <input required v-model="direccion" type="text" class="form-control">
                            </div>
                        </div>
                        <!-- Campo Teléfono -->
                        <div class="row p-1">
                            <div class="col-3 col-md-2">TELEFONO</div>
                            <div class="col-9 col-md-4">
                                <input v-model="telefono" type="text" class="form-control">
                            </div>
                        </div>
                        <!-- Campo Email -->
                        <div class="row p-1">
                            <div class="col-3 col-md-2">EMAIL</div>
                            <div class="col-9 col-md-6">
                                <input v-model="email" type="text" class="form-control">
                            </div>
                        </div>
                        <!-- Campo Municipio -->
                        <div class="row p-1">
                            <div class="col-3 col-md-2">MUNICIPIO</div>
                            <div class="col-9 col-md-6">
                                <input v-model="municipio" type="text" class="form-control">
                            </div>
                        </div>
                        <!-- Campo Estado -->
                        <div class="row p-1">
                            <div class="col-3 col-md-2">ESTADO</div>
                            <div class="col-9 col-md-6">
                                <input v-model="estado" type="text" class="form-control">
                            </div>
                        </div>
                        <!-- Campo Fecha de Nacimiento -->
                        <div class="row p-1">
                            <div class="col-3 col-md-2">FECHA DE NACIMIENTO</div>
                            <div class="col-9 col-md-6">
                                <input v-model="fechaNacimiento" type="date" class="form-control">
                            </div>
                        </div>
                        <!-- Campo Sexo -->
                        <div class="row p-1">
                            <div class="col-3 col-md-2">SEXO</div>
                            <div class="col-9 col-md-6">
                                <input v-model="sexo" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-dark text-center">
                        <input type="submit" value="Guardar" class="btn btn-primary"> 
                        <input type="reset" value="Nuevo" class="btn btn-warning">
                    </div>
                </div>
            </form>
        </div>

        <!-- Columna derecha: Búsqueda y tabla de alumnos -->
        <div class="col-md-6">
            <!-- Sección de búsqueda -->
            <div class="row p-1">
                <div class="col-md-8">
                    <input v-model="buscar" type="text" class="form-control" placeholder="Buscar por código o nombre" @keyup.enter="buscarAlumno">
                </div>
                <div class="col-md-4">
                    <button @click="buscarAlumno" class="btn btn-info btn-sm">Buscar</button>
                </div>
            </div>

            <!-- Tabla de alumnos -->
            <table class="table table-sm table-bordered table-hover mt-2">
                <thead>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>TELEFONO</th>
                        <th>EMAIL</th>
                        <th>MUNICIPIO</th>
                        <th>ESTADO</th>
                        <th>FECHA DE NACIMIENTO</th>
                        <th>SEXO</th>
                        <th>ELIMINAR</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="alumno in alumnos" @click="verAlumno(alumno)" :key="alumno.codigo">
                        <td>{{ alumno.codigo }}</td>
                        <td>{{ alumno.nombre }}</td>
                        <td>{{ alumno.direccion }}</td>
                        <td>{{ alumno.telefono }}</td>
                        <td>{{ alumno.email }}</td>
                        <td>{{ alumno.municipio }}</td>
                        <td>{{ alumno.estado }}</td>
                        <td>{{ alumno.fechaNacimiento }}</td>
                        <td>{{ alumno.sexo }}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" @click="eliminarAlumno(alumno)">DEL</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>